<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.urucas.appiumtests" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".activities.App"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.OpenBrowserActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".activities.WebViewActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".activities.RequestPermissionsActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".activities.SocketIOActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".activities.FlagSecureActivity"
            android:label="@string/app_name">
        </activity>
    </application>
</manifest>
